@import "../styles.scss";
@import "../animations.scss";

input {
  padding: 10px;
  appearance: none;
  border: none;
  outline: none;
  color: $text-color;
  font-weight: 600;
  @include neumorphic(2px, 1px, true);
  transition: all 100ms ease-in;

  &:focus {
    @include neumorphic(2px, 1px, false);
    transform: scaleX(1.01);
  }

  &::placeholder {
    color: $text-disabled;
    font-weight: 400;
  }
}

button {
  cursor: pointer;
  width: 150px;
  margin: 2px 10px;
  font-weight: 600;
  color: $text-color;
  padding: 10px;
  appearance: none;
  border: none;
  @include neumorphic(2px, 1px, false);

  &:hover {
    @include neumorphic(2px, 2px, false);
  }

  &:active {
    @include neumorphic(2px, 1px, false);
  }
}

.gen-container {
  background: $main-color;
  padding: 50px;
  @include neumorphic(5px, 2px, false);
}

.player-add__container {
  @include flex(row);
}

.player-count-number {
  color: rgb(4, 109, 0);
  font-weight: 600;
}

.player-name {
  animation: scaleDown 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  @include neumorphic(5px, 2px, false);
  background: red;
  margin: 10px 5px;
  min-width: 50px;
  display: inline-block;
  text-align: center;
}

.players-container {
  max-width: 360px;
  margin: auto;
  //@include flex(row);
}
